/* rest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end reset */

body{
    padding-top: 50px;
  }
/*  size image carrousel */

.carousel-image {
    height: 300px;
        object-fit: cover;
    }



